openapi: "3.0.3"

info:
  title: Feedco API
  version: "1.0.10"
  description: |
    **Feedco** je integrační API propojující e-commerce platformy s ERP systémem Helios iNuvio.

    API umožňuje:
    - Synchronizaci produktového katalogu (produkty, kategorie, série, edice, ocenění, osoby)
    - Příjem a správu objednávek
    - Dotazování na způsoby dopravy a platby

    ## Autentizace

    Všechny endpointy (kromě `/v1/health`) vyžadují **HTTP Basic Auth**.
    Credentials obdržíte při onboardingu.

    ## Společné principy

    - Všechny odpovědi obsahují `requestId` (UUID) a `ts` (ISO 8601 UTC timestamp).
    - Chybové odpovědi mají konzistentní formát s poli `error`, `message`, `requestId`, `ts`.
    - Stránkování se řídí query parametry `page` (od 1) a `page_size`.
    - Delta synchronizace je podporována přes filtr `changed_since` (ISO 8601 datetime).
    - Request ID lze zadat přes header `X-Request-Id`; pokud chybí, server ho vygeneruje.

    ## Response headers

    Každá odpověď obsahuje tyto custom hlavičky:

    | Header | Popis |
    |--------|-------|
    | `X-Request-Id` | Unikátní ID požadavku |
    | `X-Api-Version` | Verze API (např. `1.0.0`) |
    | `X-Platform` | Platforma (`feedco`) |
    | `X-Backend` | Backend systém (např. `helios`) |
    | `X-Response-Time-Ms` | Doba zpracování v ms |

  contact:
    name: Feedco API Support
    email: api@feedco.cz
    url: https://feedco.cz
  license:
    name: Proprietary

servers:
  - url: https://api.feedco.cz
    description: Produkční server
  - url: http://localhost:8080
    description: Lokální vývoj

tags:
  - name: Health
    description: Stav služby a databáze
  - name: Auth
    description: Informace o aktuálním připojení
  - name: Orders
    description: Správa objednávek
  - name: Products
    description: Produktový katalog
  - name: Stock
    description: Skladovost a varianty (oddělený delta-sync endpoint)
  - name: Categories
    description: Kategorie produktů
  - name: Series
    description: Série (příběhová / tematická návaznost)
  - name: Editions
    description: Edice (řada knih se společným vizuálním stylem)
  - name: Awards
    description: Ocenění produktů a osob
  - name: Persons
    description: Osoby (autoři, překladatelé, ilustrátoři, …)
  - name: Shipping
    description: Způsoby dopravy
  - name: Payment
    description: Platební metody

security:
  - basicAuth: []

paths:
  # ──────────────────────────────────────────────
  # Health
  # ──────────────────────────────────────────────
  /v1/health:
    get:
      operationId: getHealth
      summary: Health check
      description: |
        Vrací stav služby a připojení k databázi.
        Nevyžaduje autentizaci.
      tags: [Health]
      security: []
      responses:
        "200":
          description: Služba i databáze OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
                service: Feedco API
                platform: feedco
                backend: helios
                env: production
                version: "1.0.10"
                db: ok
                dbError: null
                requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                ts: "2026-03-31T09:00:00+00:00"
        "503":
          description: Databáze nedostupná
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: degraded
                service: Feedco API
                platform: feedco
                backend: helios
                env: production
                version: "1.0.10"
                db: down
                dbError: "Connection refused"
                requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                ts: "2026-03-31T09:00:00+00:00"

  # ──────────────────────────────────────────────
  # Me
  # ──────────────────────────────────────────────
  /v1/me:
    get:
      operationId: getMe
      summary: Informace o připojení
      description: |
        Vrací metadata služby, backend info a seznam dostupných capabilities
        pro aktuálně autentizovaného uživatele.
      tags: [Auth]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Orders
  # ──────────────────────────────────────────────
  /v1/orders:
    post:
      operationId: createOrder
      summary: Vytvoření objednávky
      description: |
        Vytvoří novou objednávku v ERP.

        ### Idempotence

        Pro zajištění bezpečného opakování požadavku přidejte header `Idempotency-Key`.
        Při opakovaném volání se stejným klíčem (do 24 h) server vrátí uloženou odpověď
        bez opětovného vytvoření objednávky.
      tags: [Orders]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateRequest"
            example:
              order_id: "ESHOP-2026-00451"
              order_number: "ORD-451"
              order_date: "2026-03-31T09:00:00"
              customer:
                first_name: "Jan"
                surname: "Novák"
                company: null
                ico: null
                dic: null
                phone: "+420600000000"
                email: "jan@example.com"
                address:
                  street: "Dlouhá"
                  house_number: "1"
                  street_number: null
                  zip: "11000"
                  city: "Praha"
                  country: "CZ"
              delivery_address:
                name: "Jan Novák"
                company: null
                phone: null
                street: "Dlouhá"
                house_number: "1"
                street_number: null
                zip: "11000"
                city: "Praha"
                country: "CZ"
              shipping:
                method_code: "GLS"
                price_with_vat: 99.0
                vat_rate: 21.0
              payment:
                method_code: "CARD"
                price_with_vat: 0.0
                status: 0
              total_with_vat: 1297.0
              currency: "CZK"
              exchange_rate: 1.0
              library: 1
              coupon_code: null
              pickup_point: null
              note: null
              items:
                - product_id: 757
                  quantity: 2
                  unit_price: 599.0
                  vat_rate: 10.0
                - product_id: 762
                  quantity: 1
                  unit_price: 99.0
                  vat_rate: 21.0
      responses:
        "201":
          description: Objednávka vytvořena
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderCreateResponse"
              example:
                ok: true
                orderId: 102115
                externalOrderId: "ESHOP-2026-00451"
                orderNumber: "ORD-451"
                code: "OBJ2026001"
                status: "010"
                error: null
                requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                ts: "2026-03-31T09:05:00+00:00"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    get:
      operationId: listOrders
      summary: Seznam objednávek
      description: |
        Vrací stránkovaný seznam objednávek s možností filtrování
        podle data, statusu a času poslední změny.
      tags: [Orders]
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: date_from
          in: query
          description: "Filtr: objednávky od data (YYYY-MM-DD)"
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          description: "Filtr: objednávky do data (YYYY-MM-DD)"
          schema:
            type: string
            format: date
        - name: status
          in: query
          description: "Filtr: status objednávky (např. `010`, `020`, `040`)"
          schema:
            type: string
        - name: changed_since
          in: query
          description: "Delta sync: pouze objednávky změněné od tohoto okamžiku (ISO 8601)"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam objednávek
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/orders/{order_id}:
    get:
      operationId: getOrder
      summary: Detail objednávky
      description: |
        Vrací kompletní detail objednávky včetně zákaznických údajů,
        doručovací adresy, dopravy, platby a položek s odkazy na e-knihy.
      tags: [Orders]
      parameters:
        - $ref: "#/components/parameters/OrderId"
      responses:
        "200":
          description: Detail objednávky
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  order:
                    $ref: "#/components/schemas/OrderDetail"
                  requestId:
                    type: string
                  ts:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/order-statuses:
    get:
      operationId: listOrderStatuses
      summary: Číselník stavů objednávek
      description: Vrací seznam možných stavů objednávek v ERP.
      tags: [Orders]
      responses:
        "200":
          description: Seznam stavů
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderStatusesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/orders/{order_id}/payment:
    put:
      operationId: updateOrderPayment
      summary: Aktualizace stavu platby objednávky
      description: |
        Změní stav platby u existující objednávky.

        Stav samotné objednávky (`status`) řídí Helios — e-shop ho přes API nemění.

        ### Číselník stavů platby (`status`)

        | Hodnota | Popis |
        |---|---|
        | `null` | Neuvedeno |
        | `0` | Nelze ověřit |
        | `1` | Zaplacená |
        | `2` | Autorizovaná |
        | `3` | Platba vybrána |
        | `4` | Čekající |
        | `5` | Vrácená |
        | `8` | Vypršel časový limit |
        | `9` | Zrušená |
      tags: [Orders]
      parameters:
        - $ref: "#/components/parameters/OrderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderPaymentUpdateRequest"
            example:
              status: 1
      responses:
        "200":
          description: Stav platby aktualizován
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderPaymentUpdateResponse"
              example:
                ok: true
                orderId: 102114
                payment:
                  status: 1
                requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                ts: "2026-03-31T09:10:00+00:00"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Products
  # ──────────────────────────────────────────────
  /v1/products:
    get:
      operationId: listProducts
      summary: Seznam produktů
      description: |
        Vrací stránkovaný seznam produktů.
        Podporuje filtrování podle primární kategorie a času změny.

        Každý produkt obsahuje vnořená pole:
        - `persons[]` — navázané osoby (autor, překladatel, ilustrátor…)
        - `params[]` — katalogové parametry produktu (počet stran, rozměr, ISBN, doporučený věk…)
        - `attributes[]` — provozní/marketingové atributy (datum vydání, dotisk, pořadí v edici/sérii…)
        - `tags[]` — štítky (novinka, bestseller, akce…)
      tags: [Products]
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: category_id
          in: query
          description: "Filtr: přesné ID primární kategorie (nezahrnuje podkategorie)"
          schema:
            type: integer
        - name: changed_since
          in: query
          description: "Delta sync: pouze produkty změněné od tohoto okamžiku (ISO 8601)"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam produktů
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductsListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/products/{product_id}:
    get:
      operationId: getProduct
      summary: Detail produktu
      description: Vrací kompletní detail jednoho produktu.
      tags: [Products]
      parameters:
        - name: product_id
          in: path
          required: true
          description: ID produktu
          schema:
            type: integer
      responses:
        "200":
          description: Detail produktu
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  product:
                    $ref: "#/components/schemas/Product"
                  requestId:
                    type: string
                  ts:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Stock
  # ──────────────────────────────────────────────
  /v1/stock:
    get:
      operationId: listStock
      summary: Skladovost produktů
      description: |
        Vrací stránkovaný seznam skladovostí produktů. Vhodné pro častý delta sync
        (typicky častější než katalog).

        Filtr `changed_since` vrátí jen produkty se skladovými pohyby v daném období
        (produkty s `updated_at = null` jsou odfiltrované).

        Speciální hodnoty `stock_quantity`:
        - `-9999` – produkt nelze prodávat (připravujeme / prodej ukončen / nedotiskovat / pozastaveno)
        - `99999` – e-kniha (vždy dostupná)
      tags: [Stock]
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: changed_since
          in: query
          description: "Delta sync: pouze produkty se skladovým pohybem od tohoto okamžiku (ISO 8601)"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam skladovostí
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/stock/{product_id}:
    get:
      operationId: getStock
      summary: Detail skladovosti produktu
      description: Vrací aktuální skladovost a varianty jednoho produktu.
      tags: [Stock]
      parameters:
        - name: product_id
          in: path
          required: true
          description: ID produktu
          schema:
            type: integer
      responses:
        "200":
          description: Detail skladovosti
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  stock:
                    $ref: "#/components/schemas/Stock"
                  requestId:
                    type: string
                  ts:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Categories
  # ──────────────────────────────────────────────
  /v1/categories:
    get:
      operationId: listCategories
      summary: Seznam kategorií
      description: Vrací stránkovaný seznam kategorií produktů.
      tags: [Categories]
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          description: Počet záznamů na stránku (výchozí 200, max 1000)
          schema:
            type: integer
            default: 200
            maximum: 1000
        - name: changed_since
          in: query
          description: "Delta sync: pouze kategorie změněné od tohoto okamžiku"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam kategorií
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoriesListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Series
  # ──────────────────────────────────────────────
  /v1/series:
    get:
      operationId: listSeries
      summary: Seznam sérií
      description: Vrací stránkovaný seznam sérií. Edice mají samostatný endpoint `GET /v1/editions`.
      tags: [Series]
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          description: Počet záznamů na stránku (výchozí 200, max 1000)
          schema:
            type: integer
            default: 200
            maximum: 1000
        - name: changed_since
          in: query
          description: "Delta sync: pouze série změněné od tohoto okamžiku"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam sérií
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeriesListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Editions
  # ──────────────────────────────────────────────
  /v1/editions:
    get:
      operationId: listEditions
      summary: Seznam edic
      description: Vrací stránkovaný seznam edic (řady knih se společným vizuálním stylem).
      tags: [Editions]
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          description: Počet záznamů na stránku (výchozí 200, max 1000)
          schema:
            type: integer
            default: 200
            maximum: 1000
        - name: changed_since
          in: query
          description: "Delta sync: pouze edice změněné od tohoto okamžiku"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam edic
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EditionsListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Awards
  # ──────────────────────────────────────────────
  /v1/awards:
    get:
      operationId: listAwards
      summary: Seznam ocenění
      description: |
        Vrací stránkovaný seznam ocenění s vazbami na produkty a osoby.
        Vnořené pole `products` a `persons` obsahují navázané entity.
      tags: [Awards]
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          description: Počet záznamů na stránku (výchozí 200, max 1000)
          schema:
            type: integer
            default: 200
            maximum: 1000
        - name: changed_since
          in: query
          description: "Delta sync: pouze ocenění změněná od tohoto okamžiku"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam ocenění
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AwardsListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Persons
  # ──────────────────────────────────────────────
  /v1/persons:
    get:
      operationId: listPersons
      summary: Seznam osob
      description: |
        Vrací stránkovaný seznam osob (autoři, editoři, překladatelé,
        ilustrátoři, fotografové, výtvarný doprovod) s medailonky.

        Role osoby u konkrétního produktu je atributem **vazby**
        a najdete ji v `products[].persons[].role`, ne přímo na osobě –
        jedna osoba může u různých produktů figurovat v různých rolích.
      tags: [Persons]
      parameters:
        - $ref: "#/components/parameters/Page"
        - name: page_size
          in: query
          description: Počet záznamů na stránku (výchozí 200, max 1000)
          schema:
            type: integer
            default: 200
            maximum: 1000
        - name: changed_since
          in: query
          description: "Delta sync: pouze osoby změněné od tohoto okamžiku"
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Seznam osob
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonsListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/persons/{person_id}:
    get:
      operationId: getPerson
      summary: Detail osoby
      description: Vrací detail jedné osoby (medailonek).
      tags: [Persons]
      parameters:
        - name: person_id
          in: path
          required: true
          description: ID osoby
          schema:
            type: integer
      responses:
        "200":
          description: Detail osoby
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  person:
                    $ref: "#/components/schemas/Person"
                  requestId:
                    type: string
                  ts:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ──────────────────────────────────────────────
  # Shipping & Payment
  # ──────────────────────────────────────────────
  /v1/shipping-methods:
    get:
      operationId: listShippingMethods
      summary: Způsoby dopravy
      description: Vrací dostupné způsoby dopravy.
      tags: [Shipping]
      responses:
        "200":
          description: Seznam způsobů dopravy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShippingMethodsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /v1/payment-methods:
    get:
      operationId: listPaymentMethods
      summary: Platební metody
      description: Vrací dostupné platební metody.
      tags: [Payment]
      responses:
        "200":
          description: Seznam platebních metod
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

# ================================================================
# Components
# ================================================================
components:

  # ──────────────────────────────────────────────
  # Security
  # ──────────────────────────────────────────────
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        HTTP Basic Auth. Credentials obdržíte při onboardingu.

  # ──────────────────────────────────────────────
  # Parameters
  # ──────────────────────────────────────────────
  parameters:
    Page:
      name: page
      in: query
      description: Číslo stránky (od 1)
      schema:
        type: integer
        default: 1
        minimum: 1

    PageSize:
      name: page_size
      in: query
      description: Počet záznamů na stránku (výchozí 50, max 200)
      schema:
        type: integer
        default: 50
        maximum: 200

    OrderId:
      name: order_id
      in: path
      required: true
      description: ID objednávky
      schema:
        type: integer

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: |
        Klíč pro idempotentní vytvoření objednávky.
        Při opakovaném volání se stejným klíčem (do 24 h) se vrátí
        uložená odpověď bez opětovného vytvoření.
      schema:
        type: string

  # ──────────────────────────────────────────────
  # Responses (reusable errors)
  # ──────────────────────────────────────────────
  responses:
    Unauthorized:
      description: Neplatné nebo chybějící credentials
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: unauthorized
            message: Invalid credentials
            requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            ts: "2026-03-31T09:00:00+00:00"

    BadRequest:
      description: Chybný požadavek
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: bad_request
            message: "Body must be a JSON object"
            requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            ts: "2026-03-31T09:00:00+00:00"

    NotFound:
      description: Záznam nenalezen
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: not_found
            message: "Order 999999 not found"
            requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            ts: "2026-03-31T09:00:00+00:00"

    InternalError:
      description: Interní chyba serveru
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponseWithDetails"
          example:
            error: internal_error
            message: "Order creation failed"
            details: "Connection timeout"
            requestId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            ts: "2026-03-31T09:00:00+00:00"

  # ──────────────────────────────────────────────
  # Schemas
  # ──────────────────────────────────────────────
  schemas:

    # --- Common ---

    ErrorResponse:
      type: object
      required: [error, message, requestId, ts]
      properties:
        error:
          type: string
          description: Chybový kód
        message:
          type: string
          description: Lidsky čitelný popis chyby
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    ErrorResponseWithDetails:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            details:
              type: string
              description: Technický detail (zobrazen jen v dev/staging)

    # --- Health ---

    HealthResponse:
      type: object
      required: [status, service, platform, backend, env, version, db, requestId, ts]
      properties:
        status:
          type: string
          enum: [ok, degraded]
        service:
          type: string
        platform:
          type: string
        backend:
          type: string
        env:
          type: string
        version:
          type: string
        db:
          type: string
          enum: [ok, down]
        dbError:
          type: string
          nullable: true
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Me ---

    MeResponse:
      type: object
      properties:
        service:
          type: string
        platform:
          type: string
        backend:
          type: string
        env:
          type: string
        version:
          type: string
        auth:
          type: object
          properties:
            type:
              type: string
              example: basic
        capabilities:
          type: object
          description: Mapa dostupných operací
        requestId:
          type: string
        ts:
          type: string
          format: date-time

    # --- Orders ---

    OrderCreateRequest:
      type: object
      description: |
        Payload pro vytvoření objednávky. Celý objekt je předán
        do SQL procedury jako JSON string.
      required: [order_id, items]
      properties:
        order_id:
          type: string
          description: Unikátní identifikátor objednávky v e-shopu (slouží zároveň jako idempotency key)
          example: "ESHOP-2026-00451"
        order_number:
          type: string
          nullable: true
          description: Číslo objednávky pro zobrazení (Cislo)
          example: "ORD-451"
        order_date:
          type: string
          format: date-time
          description: Datum a čas objednávky (ISO 8601). Pokud chybí, použije se čas přijetí.
          example: "2026-03-31T09:00:00"
        customer:
          type: object
          properties:
            first_name:
              type: string
              example: "Jan"
            surname:
              type: string
              example: "Novák"
            company:
              type: string
              nullable: true
            ico:
              type: string
              nullable: true
            dic:
              type: string
              nullable: true
            phone:
              type: string
              nullable: true
              example: "+420600000000"
            email:
              type: string
              format: email
              example: "jan@example.com"
            address:
              type: object
              properties:
                street:
                  type: string
                  example: "Dlouhá"
                house_number:
                  type: string
                  description: Číslo popisné
                  example: "1"
                street_number:
                  type: string
                  nullable: true
                  description: Číslo orientační
                  example: "2a"
                zip:
                  type: string
                  example: "11000"
                city:
                  type: string
                  example: "Praha"
                country:
                  type: string
                  description: ISO 3166-1 alpha-2
                  example: "CZ"
        delivery_address:
          type: object
          description: Doručovací adresa (pokud se liší od fakturační)
          properties:
            name:
              type: string
              nullable: true
              example: "Jan Novák"
            company:
              type: string
              nullable: true
            phone:
              type: string
              nullable: true
            street:
              type: string
              nullable: true
            house_number:
              type: string
              nullable: true
            street_number:
              type: string
              nullable: true
            zip:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
        shipping:
          type: object
          properties:
            method_code:
              type: string
              description: Kód způsobu dopravy (z GET /v1/shipping-methods)
              example: "GLS"
            price_with_vat:
              type: number
              description: Cena dopravy s DPH
              example: 99.0
            vat_rate:
              type: number
              description: Sazba DPH dopravy (%)
              example: 21.0
        payment:
          type: object
          properties:
            method_code:
              type: string
              description: Kód platební metody (z GET /v1/payment-methods)
              example: "CARD"
            price_with_vat:
              type: number
              description: Cena platby s DPH
              example: 0.0
            status:
              type: integer
              nullable: true
              description: |
                Stav platby. Viz [číselník stavů platby](#tag/Orders/operation/updateOrderPayment).
                NULL=neuvedeno, 0=Nelze ověřit, 1=Zaplacená, 2=Autorizovaná,
                3=Platba vybrána, 4=Čekající, 5=Vrácená, 8=Vypršel časový limit, 9=Zrušená.
              example: 0
        total_with_vat:
          type: number
          description: Celková cena objednávky s DPH
          example: 1297.0
        currency:
          type: string
          description: Kód měny (ISO 4217)
          example: "CZK"
        exchange_rate:
          type: number
          description: Kurz měny (1 = CZK)
          example: 1.0
        library:
          type: integer
          nullable: true
          description: ID knihovny / skladu
          example: 1
        coupon_code:
          type: string
          nullable: true
          description: Slevový poukaz
        pickup_point:
          type: string
          nullable: true
          description: Kód výdejního místa (např. pro Zásilkovnu)
        note:
          type: string
          nullable: true
          description: Poznámka k objednávce
        items:
          type: array
          description: Položky objednávky
          minItems: 1
          items:
            type: object
            required: [product_id, quantity]
            properties:
              product_id:
                type: integer
                description: ID produktu (z GET /v1/products)
                example: 757
              quantity:
                type: number
                description: Množství
                minimum: 0.000001
                example: 2
              unit_price:
                type: number
                description: Jednotková cena s DPH
                example: 599.0
              vat_rate:
                type: number
                description: Sazba DPH (%)
                example: 10.0

    OrderCreateResponse:
      type: object
      required: [ok, orderId, requestId, ts]
      properties:
        ok:
          type: boolean
          example: true
        orderId:
          type: integer
          description: Interní ID vytvořené objednávky v ERP (`Tabx_aPilot_Objednavky_H.ID`)
        externalOrderId:
          type: string
          nullable: true
          description: Echo hodnoty `order_id` z requestu
        orderNumber:
          type: string
          nullable: true
          description: Číslo objednávky z e-shopu (echo `order_number`)
        code:
          type: string
          nullable: true
          description: Párovací znak v Heliosu (vyplněn po zpracování `hpx_aPilot_Objednavky_ZpracujObj`)
        status:
          type: string
          nullable: true
          description: Stav došlé objednávky (kód) – viz `GET /v1/order-statuses`
        error:
          type: string
          nullable: true
          description: Chyba při zakládání/zpracování objednávky (`null` = OK)
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    OrderListItem:
      type: object
      description: Objednávka v seznamu (souhrn)
      properties:
        order_id:
          type: string
          description: Externí ID objednávky (z e-shopu)
          example: "ESHOP-2026-00451"
        order_number:
          type: string
          description: Číslo objednávky
          example: "ORD-451"
        code:
          type: string
          nullable: true
          description: Párovací znak v Heliosu
        order_date:
          type: string
          format: date-time
          description: Datum objednávky
        status:
          type: string
          nullable: true
          description: "Status objednávky (kód z GET /v1/order-statuses)"
          example: "030"
        error:
          type: string
          nullable: true
          description: Text chyby zpracování
        total_with_vat:
          type: number
          nullable: true
          description: Celková cena s DPH
        currency:
          type: string
          nullable: true
          example: "CZK"
        pickup_point:
          type: string
          nullable: true
          description: Výdejní místo
        tracking_number:
          type: string
          nullable: true
          description: Číslo zásilky
        tracking_url:
          type: string
          nullable: true
          description: Odkaz na sledování zásilky
        processed_at:
          type: string
          format: date-time
          nullable: true
          description: Datum zpracování do Heliosu
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true

    OrderDetail:
      type: object
      description: Kompletní detail objednávky (GET /v1/orders/{id})
      properties:
        order_id:
          type: string
          example: "ESHOP-2026-00451"
        order_number:
          type: string
        code:
          type: string
          nullable: true
        order_date:
          type: string
          format: date-time
        status:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
        customer:
          type: object
          description: Zákazník (fakturační údaje)
          properties:
            first_name: { type: string }
            surname: { type: string }
            company: { type: string, nullable: true }
            ico: { type: string, nullable: true }
            dic: { type: string, nullable: true }
            phone: { type: string, nullable: true }
            email: { type: string }
            street: { type: string }
            house_number: { type: string }
            street_number: { type: string, nullable: true }
            zip: { type: string }
            city: { type: string }
            country: { type: string, nullable: true }
        delivery_address:
          type: object
          description: Doručovací adresa
          properties:
            name: { type: string, nullable: true }
            company: { type: string, nullable: true }
            phone: { type: string, nullable: true }
            street: { type: string, nullable: true }
            house_number: { type: string, nullable: true }
            street_number: { type: string, nullable: true }
            zip: { type: string, nullable: true }
            city: { type: string, nullable: true }
            country: { type: string, nullable: true }
        shipping:
          type: object
          properties:
            method_code: { type: string, nullable: true, description: "Kód dopravy" }
            price_with_vat: { type: number, nullable: true }
            vat_rate: { type: number, nullable: true }
        payment:
          type: object
          properties:
            method_code: { type: string, nullable: true, description: "Kód platby" }
            price_with_vat: { type: number, nullable: true }
            status: { type: integer, nullable: true, description: "Stav platby – viz PUT /v1/orders/{id}/payment (NULL, 0=Nelze ověřit, 1=Zaplacená, 2=Autorizovaná, 3=Platba vybrána, 4=Čekající, 5=Vrácená, 8=Vypršel časový limit, 9=Zrušená)" }
        total_with_vat:
          type: number
          nullable: true
        currency:
          type: string
          nullable: true
        exchange_rate:
          type: number
          nullable: true
        coupon_code:
          type: string
          nullable: true
        library:
          type: integer
          nullable: true
        note:
          type: string
          nullable: true
        items:
          type: array
          description: Položky objednávky
          items:
            type: object
            properties:
              item_id:
                type: integer
              product_id:
                type: integer
                nullable: true
              quantity:
                type: number
              unit_price:
                type: number
              vat_rate:
                type: number
                nullable: true
              links:
                type: array
                nullable: true
                description: Odkazy na e-knihy / přílohy (formát + URL)
                items:
                  type: object
                  properties:
                    format: { type: string, example: "epub" }
                    url: { type: string, format: uri }
        pickup_point:
          type: string
          nullable: true
        tracking_number:
          type: string
          nullable: true
        tracking_url:
          type: string
          nullable: true
        invoice_url:
          type: string
          nullable: true
          description: Odkaz na fakturu
        processed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true

    OrdersListResponse:
      type: object
      required: [ok, orders, count, requestId, ts]
      properties:
        ok:
          type: boolean
        orders:
          type: array
          items:
            $ref: "#/components/schemas/OrderListItem"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    OrderStatus:
      type: object
      properties:
        code:
          type: string
          description: Kód stavu
          example: "030"
        name:
          type: string
          description: Název stavu
          example: "Zpracovávaná"

    OrderStatusesResponse:
      type: object
      required: [ok, orderStatuses, requestId, ts]
      properties:
        ok:
          type: boolean
        orderStatuses:
          type: array
          items:
            $ref: "#/components/schemas/OrderStatus"
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    OrderPaymentUpdateRequest:
      type: object
      required: [status]
      properties:
        status:
          type: integer
          nullable: true
          description: |
            Nový stav platby. Hodnoty:
            `null` = neuvedeno, `0` = Nelze ověřit, `1` = Zaplacená,
            `2` = Autorizovaná, `3` = Platba vybrána, `4` = Čekající,
            `5` = Vrácená, `8` = Vypršel časový limit, `9` = Zrušená.
          example: 1
          enum: [null, 0, 1, 2, 3, 4, 5, 8, 9]

    OrderPaymentUpdateResponse:
      type: object
      required: [ok, orderId, payment, requestId, ts]
      properties:
        ok:
          type: boolean
        orderId:
          type: integer
        payment:
          type: object
          properties:
            status:
              type: integer
              nullable: true
              example: 1
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Products ---

    Product:
      type: object
      description: |
        Produkt z katalogu.

        Skladovost je zde jako číslo (`stock_quantity`), ale **varianty** a prodejní
        statistika (`sold_quantity_30d`, `variant_ids`) součástí tohoto schématu nejsou –
        jsou vystavovány samostatným endpointem `GET /v1/stock` (delta sync) a
        `GET /v1/stock/{product_id}` (detail).
      properties:
        product_id:
          type: integer
          description: ID produktu
          example: 757
        category_id:
          type: integer
          description: ID primární kategorie
          example: 12
        alternative_category_ids:
          type: string
          nullable: true
          description: Čárkou oddělená ID alternativních kategorií
          example: "10007,10012"
        series_id:
          type: integer
          nullable: true
          description: ID série
          example: 202
        edition_id:
          type: integer
          nullable: true
          description: ID edice
          example: 5
        code:
          type: string
          description: Kód produktu (SKU)
          example: "100000011"
        name:
          type: string
          description: Název produktu
          example: "Nezaručené pověsti / Čiary života"
        subtitle:
          type: string
          nullable: true
          description: Podtitul
        original_name:
          type: string
          nullable: true
          description: Původní název (u překladů)
        description_short:
          type: string
          nullable: true
          description: Krátký popis (HTML)
        description_long:
          type: string
          nullable: true
          description: Dlouhý popis (HTML)
        product_type:
          type: string
          nullable: true
          description: |
            Typ produktu (rozlišovák varianty) – např. „Vázaná", „Brožovaná", „E-kniha".
            Z `TabKmenZbozi_EXT._RucniNazevVariantyWeb` s fallbackem na typ vazby.
          example: "Vázaná"
        stock_quantity:
          type: integer
          nullable: true
          description: |
            Aktuální skladovost s odečtenou bezpečnostní rezervou (shodná hodnota jako v `/v1/stock`).
            Speciální hodnoty:
            - `-9999` = nelze prodávat (připravujeme / prodej ukončen / nedotiskovat / pozastaveno)
            - `99999` = e-kniha (vždy dostupná)
          example: 15
        main_image_url:
          type: string
          nullable: true
          description: |
            Hlavní obálka – cesta k souboru v Heliosis úložišti
            (z `TabDokumStrom.NazevUrovne = 'Obálka'`).
            UNC cesta – e-shop si ji případně přemapuje na veřejnou URL.
          example: "\\\\Heliosis\\XML_WEB\\products\\757\\cover.jpg"
        images:
          type: array
          nullable: true
          description: |
            Další obrázky produktu (z `TabDokumStrom.NazevUrovne = 'Další fotky'`).
          items:
            type: object
            properties:
              url:
                type: string
                description: Cesta k obrázku (UNC)
                example: "\\\\Heliosis\\XML_WEB\\products\\757\\01.jpg"
        documents:
          type: array
          nullable: true
          description: |
            Soubory a odkazy k produktu – ukázky ke stažení, ohlasy, články, rozhovory
            (z `TabDokumStrom.NazevUrovne IN ('Ke stažení', 'Ohlasy, články, rozhovory')`).
          items:
            type: object
            properties:
              url:
                type: string
                description: Cesta k souboru (UNC)
                example: "\\\\Heliosis\\XML_WEB\\products\\757\\sample.pdf"
              type:
                type: string
                description: Typ dokumentu (název úrovně dokumentového stromu)
                example: "Ke stažení"
              description:
                type: string
                nullable: true
                description: Popis dokumentu
        reviews:
          type: string
          nullable: true
          description: Recenze / ohlasy (HTML)
        ean:
          type: string
          nullable: true
          description: EAN kód
          example: "9788090212701"
        price:
          type: number
          description: Základní (ceníková) cena vč. DPH v CZK
          example: 349.00
        price_eshop:
          type: number
          nullable: true
          description: Koncová e-shopová cena vč. DPH (po akci / standardní slevě), zaokrouhlená
          example: 299.00
        price_b2b:
          type: number
          nullable: true
          description: B2B cena vč. DPH v CZK
          example: 220.00
        vat_rate:
          type: number
          description: Sazba DPH v %
          example: 10.0
        unit:
          type: string
          description: Měrná jednotka
          example: "ks"
        active:
          type: boolean
          description: Aktivní produkt
        updated_at:
          type: string
          format: date-time
          description: Datum poslední aktualizace
        persons:
          type: array
          nullable: true
          description: |
            Osoby navázané na produkt s konkrétní rolí. Stejná osoba
            může u jiného produktu figurovat v jiné roli – `role` patří
            **vazbě**, ne osobě. Detail osoby (medailonek) lze dotáhnout
            přes `GET /v1/persons/{person_id}`.
          items:
            type: object
            required: [person_id, role]
            properties:
              person_id:
                type: integer
                description: ID osoby
                example: 123
              role:
                type: string
                description: Kód role osoby u produktu z pevného číselníku
                enum: [author, editor, translator, illustrator, photographer, artistic_contributor]
                example: "author"
              name:
                type: string
                nullable: true
                description: Křestní jméno (pro display)
                example: "Jan"
              surname:
                type: string
                nullable: true
                description: Příjmení (pro display)
                example: "Novák"
        params:
          type: array
          nullable: true
          description: |
            Katalogové parametry produktu (key-value). Vrací se jen parametry s nenulovou hodnotou.
            Možné názvy: Počet stran, Rozměr, ISBN, Doporučený věk, Vydání (pořadí), Varianty e-knihy.

            > **Pozn.:** ISBN je nově součástí `params` (dříve samostatné pole `isbn`).
          items:
            type: object
            properties:
              name:
                type: string
                description: Název parametru
                example: "Počet stran"
              value:
                type: string
                description: Hodnota parametru (vždy string)
                example: "320"
        attributes:
          type: array
          nullable: true
          description: |
            Provozní a marketingové atributy produktu (key-value). Vrací se jen atributy s nenulovou hodnotou.
            Možné názvy: Publikace (ukončený prodej), Vazba, Datum vydání, Pořadí v edici,
            Pořadí v sérii, Náhled knihy (ISSUU), Bestseller (pořadí), Titul se dotiskuje,
            Termín dotisku, Doporučený věk (filtr).
          items:
            type: object
            properties:
              name:
                type: string
                description: Název atributu
                example: "Datum vydání"
              value:
                type: string
                description: Hodnota atributu (vždy string)
                example: "1. 9. 2024"
        tags:
          type: array
          nullable: true
          description: |
            Štítky produktu. Vrací se jen aktivní štítky.
            Možné hodnoty: Připravujeme, Předobjednávka, Novinka, Akce, Bestseller.
          items:
            type: object
            properties:
              name:
                type: string
                description: Název štítku
                example: "Novinka"

    ProductsListResponse:
      type: object
      required: [ok, products, count, requestId, ts]
      properties:
        ok:
          type: boolean
        products:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Stock ---

    Stock:
      type: object
      description: Skladovost a varianty jednoho produktu (z view `hvw_Feedco_Stock`)
      properties:
        product_id:
          type: integer
          description: ID produktu (shodné s `product_id` z `/v1/products`)
          example: 757
        code:
          type: string
          description: Kód zboží
          example: "100000011"
        name:
          type: string
          description: Název produktu
        stock_quantity:
          type: integer
          description: |
            Aktuální skladovost s odečtenou bezpečnostní rezervou.
            Speciální hodnoty:
            - `-9999` = nelze prodávat (připravujeme / prodej ukončen / nedotiskovat / pozastaveno)
            - `99999` = e-kniha (vždy dostupná)
          example: 15
        sold_quantity_30d:
          type: integer
          description: Počet prodaných kusů za posledních 30 dní
          example: 4
        variant_ids:
          type: string
          nullable: true
          description: |
            Čárkou oddělená ID variant produktu (např. brožovaná × vázaná × e-kniha)
            seřazená podle doporučeného pořadí (skladovost → ruční pořadí → vazba → rok vydání → podpis).
          example: "1024,1025,1026"
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Datum a čas posledního skladového pohybu

    StockListResponse:
      type: object
      required: [ok, stock, count, requestId, ts]
      properties:
        ok:
          type: boolean
        stock:
          type: array
          items:
            $ref: "#/components/schemas/Stock"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Categories ---

    Category:
      type: object
      properties:
        category_id:
          type: integer
          description: ID kategorie (prefixované nultou kategorií, např. 10005)
          example: 10005
        parent_category_id:
          type: integer
          nullable: true
          description: ID nadřazené kategorie (`null` = kořenová)
        name:
          type: string
          description: Název kategorie
          example: "Česká beletrie"
        description:
          type: string
          nullable: true
          description: Popis kategorie (HTML). U kořenových kategorií `null`.
        active:
          type: boolean
        order_by:
          type: integer
          description: Preferované pořadí v rámci nadřazené kategorie (vzestupně)
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Datum poslední změny (u kořenových kategorií může být `null`)

    CategoriesListResponse:
      type: object
      required: [ok, categories, count, requestId, ts]
      properties:
        ok:
          type: boolean
        categories:
          type: array
          items:
            $ref: "#/components/schemas/Category"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Series ---

    Series:
      type: object
      properties:
        series_id:
          type: integer
          description: ID série
          example: 19
        name:
          type: string
          description: Název série
          example: "Česká knižnice"
        description:
          type: string
          nullable: true
          description: Popis série (HTML)
        active:
          type: boolean
        updated_at:
          type: string
          format: date-time

    SeriesListResponse:
      type: object
      required: [ok, series, count, requestId, ts]
      properties:
        ok:
          type: boolean
        series:
          type: array
          items:
            $ref: "#/components/schemas/Series"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Editions ---

    Edition:
      type: object
      properties:
        edition_id:
          type: integer
          description: ID edice
          example: 5
        name:
          type: string
          description: Název edice
          example: "Modrá knihovna"
        description:
          type: string
          nullable: true
          description: Popis edice
        active:
          type: boolean
        updated_at:
          type: string
          format: date-time

    EditionsListResponse:
      type: object
      required: [ok, editions, count, requestId, ts]
      properties:
        ok:
          type: boolean
        editions:
          type: array
          items:
            $ref: "#/components/schemas/Edition"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Awards ---

    Award:
      type: object
      properties:
        award_id:
          type: integer
          description: ID ocenění
          example: 42
        award_name:
          type: string
          description: Název ceny
          example: "Magnesia Litera"
        category:
          type: string
          nullable: true
          description: Kategorie ocenění
          example: "Próza"
        year:
          type: integer
          description: Rok udělení
          example: 2024
        note:
          type: string
          nullable: true
          description: Poznámka
        standing:
          type: string
          nullable: true
          description: Umístění (Nominace, Vítěz, ...)
          example: "Nominace"
        order_by:
          type: integer
          description: Pořadí pro řazení
        updated_at:
          type: string
          format: date-time
          description: Datum poslední změny
        products:
          type: array
          description: Navázané produkty
          items:
            type: object
            properties:
              product_id:
                type: integer
                description: ID produktu
                example: 757
              name:
                type: string
                description: Název produktu
                example: "Nezaručené pověsti"
        persons:
          type: array
          description: Navázané osoby
          items:
            type: object
            properties:
              person_id:
                type: integer
                description: ID osoby
                example: 123
              full_name:
                type: string
                description: Celé jméno s tituly
                example: "Novák Jan, Mgr."

    AwardsListResponse:
      type: object
      required: [ok, awards, count, requestId, ts]
      properties:
        ok:
          type: boolean
        awards:
          type: array
          items:
            $ref: "#/components/schemas/Award"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Persons ---

    Person:
      type: object
      description: Osoba (autor / překladatel / ilustrátor / …)
      properties:
        person_id:
          type: integer
          description: ID osoby
          example: 123
        name:
          type: string
          nullable: true
          description: Křestní jméno
          example: "Jan"
        surname:
          type: string
          nullable: true
          description: Příjmení
          example: "Novák"
        bio_short:
          type: string
          nullable: true
          description: Krátký medailonek (HTML)
        bio_long:
          type: string
          nullable: true
          description: Dlouhý medailonek (HTML)
        photo_url:
          type: string
          nullable: true
          description: |
            Fotka osoby – cesta k souboru v Heliosis úložišti
            (z `TabDokumStrom.NazevUrovne = 'Fotografie tvůrců'`). UNC cesta.
          example: "\\\\Heliosis\\XML_WEB\\persons\\123\\photo.jpg"
        photo_copyright:
          type: string
          nullable: true
          description: Copyright / autor fotky (`TabDokumenty_EXT._Feedco_Copyright`)
          example: "© Foto: Jana Nováková, 2024"
        documents:
          type: array
          nullable: true
          description: |
            Soubory a odkazy k osobě – ke stažení, ohlasy, články, rozhovory
            (z `TabDokumStrom.NazevUrovne IN ('Ke stažení', 'Ohlasy, články, rozhovory')`).
          items:
            type: object
            properties:
              url:
                type: string
                description: Cesta k souboru (UNC)
              type:
                type: string
                description: Typ dokumentu (název úrovně dokumentového stromu)
                example: "Ohlasy, články, rozhovory"
              description:
                type: string
                nullable: true
                description: Popis dokumentu
        roles:
          type: string
          nullable: true
          description: |
            Souhrn rolí, ve kterých osoba figuruje napříč všemi produkty – čárkou oddělený
            seznam kódů z pevného číselníku (`author`, `editor`, `translator`, `illustrator`,
            `photographer`, `artistic_contributor`). Role u konkrétního produktu najdete
            v `products[].persons[].role`.
          example: "author, translator"
        updated_at:
          type: string
          format: date-time
          description: Datum poslední změny

    PersonsListResponse:
      type: object
      required: [ok, persons, count, requestId, ts]
      properties:
        ok:
          type: boolean
        persons:
          type: array
          items:
            $ref: "#/components/schemas/Person"
        count:
          type: integer
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Shipping ---

    ShippingMethod:
      type: object
      properties:
        code:
          type: integer
          description: ID způsobu dopravy (`TabFormaDopravy.ID`)
          example: 12
        name:
          type: string
          description: Zobrazovaný název (z `_aPilot_Nazev`, fallback `FormaDopravy`)
          example: "GLS – doručení domů"
        price:
          type: number
          description: Cena dopravy vč. DPH (z `_Feedco_Price`, `0` pokud neuvedeno)
          example: 99.0

    ShippingMethodsResponse:
      type: object
      required: [ok, shippingMethods, requestId, ts]
      properties:
        ok:
          type: boolean
        shippingMethods:
          type: array
          items:
            $ref: "#/components/schemas/ShippingMethod"
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time

    # --- Payment ---

    PaymentMethod:
      type: object
      properties:
        code:
          type: integer
          description: ID platební metody (`TabFormaUhrady.ID`)
          example: 17
        name:
          type: string
          description: Zobrazovaný název (z `_aPilot_Nazev`, fallback `FormaUhrady`)
          example: "Kartou online"
        price:
          type: number
          description: Cena platby vč. DPH (z `_Feedco_Price`, `0` pokud neuvedeno)
          example: 0.0

    PaymentMethodsResponse:
      type: object
      required: [ok, paymentMethods, requestId, ts]
      properties:
        ok:
          type: boolean
        paymentMethods:
          type: array
          items:
            $ref: "#/components/schemas/PaymentMethod"
        requestId:
          type: string
          format: uuid
        ts:
          type: string
          format: date-time
